$pure-white: #fff;
$snow-white: #fafafa;
$smoke-white: #f2f2f2;
$hover-white: #f0f0f0;

$nero-black: #222;
$black: #000;

$border-silver: #F1F1F1;
$pale-grey: #f7f7f6;
$light-grey: #ccc;
$dark-grey: #afafaf;
$battle-grey: #6c7577;
$dim-grey: #666;

$pale-blue: #f7f9ff;
$dimmer-blue: #e5e9f0;
$link-blue: #387dfc;
$hover-blue: #003494;
$navy-blue: #0254ec;
$demin-blue: #2275d3;
$jcl-blue: #15519b;
$sia-blue: #00266b;
$moderate-blue: #5c8cad;
$greyish-blue: #c3d3de;
$light-greyish-blue: #ccd1db;
$dark-greyish-blue: #394450;
$light-cyan-blue:#75BCF7;

$light-pink: #fff2f1;

$red: #df0100;
$fcl-red: #bb2f41;

$dark-orange: #732002;
$strong-orange: #d76100;
$soft-orange: #dc904b;
$sia-orange: #ff9f00;

$green: #05b410;
$kfg-green: #27850e;
$screaming-green: #75BCF7;

$bg: #F0F2F6;

$wine-red : #7B2332;
$dark-cyan : #018D93;
$pastel-yellow: #FFF5E5;
$tenne-brown: #BA5400;
